mercadopago
fastapi
uvicorn
jinja2
python-multipart
sqlalchemy
pymysql
python-dotenv
python-docx
reportlab
bcrypt
pyjwt
web3==6.15.0
aiofiles==23.2.1
slowapi==0.1.9
stripe==7.11.0
coinbase-commerce==2.1.0
python-bitcoinlib==0.12.2
cryptography==41.0.7
pydantic_settings